<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>
    <h1>All listings</h1>
        <% allListings.map((listing)=>{%>
            <a href="/listings/<%=listing._id%>">
                <li><%=listing.title%></li>
            </a>
            <% }) %>

            <div>
                <a href="/listings/new">add new Place</a>
            </div>
</body>

</html>