<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .listing {
        display: grid;
        grid-template-columns: 70% 15% 15%;
        gap: 20px;
        justify-content: space-between;
        width: 300px;
        margin: 1rem;
        gap: 20px;
    }
</style>

<body>
    <h1>All listings</h1>
    <div>
        <form action="/listings/new" method="get">
            <button>Create New post</button>
        </form>
    </div>
    <% allListings.map((listing)=>{%>
        <div class="listing">
            <a href="/listings/<%=listing._id%>">
                <li>
                    <%=listing.title%>
                </li>
            </a>
            <div>
                <form action="/listings/<%=listing._id%>/edit" method="get">
                    <button>Edit</button>
                </form>
            </div>

            <div>
                <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                    <button>Delete</button>
                </form>
            </div>

        </div>
        <% }) %>




</body>

</html>