<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    .listing{
        display: flex;
        justify-content: space-between;
        width: 300px;
        margin: 1rem;
    }
</style>
<body>
    <h1>All listings</h1>
        <% allListings.map((listing)=>{%>
            <div class="listing">
                 <a href="/listings/<%=listing._id%>">
                <li><%=listing.title%></li>
            </a>
            <form action="/listings/<%=listing._id%>/edit" method="get">
                <button>Edit</button>
            </form>

            <form action="/listings/<%=listing._id%>?_method=DELETE" method="post">
                <button>Delete</button>
            </form>
            
            </div>
            <% }) %>



            <div>
                <a href="/listings/new">add new Place</a>
            </div>
</body>

</html>