<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <form action="/login/success" method="post">
        <input type="email" name="user[email]" id="email">
        <input type="password" name="user[password]" id="password" minlength="6" maxlength="14">
        <button>Login</button>
    </form>
</body>
