<%- layout("/layouts/boilerplate.ejs") %>

<body>
    <form action="/signup/success" method="post">
        <input type="text" name="user[username]" id="username" minlength="8" maxlength="20">
        <input type="email" name="user[email]" id="email">
        <input type="password" name="user[password]" id="password" minlength="6" maxlength="14">
        <button>Singup</button>
    </form>
</body>
